@import url(./reset.css);
@import url(./variables.css);

main{
    background-color: FAFAFA;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--space-xl) var(--space-l);
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-black);
    margin-bottom: 1rem;
}