@import url(./reset.css);
@import url(./variables.css);

main{
    background-color: FAFAFA;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--space-xl) var(--space-l);
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-black);
    margin-bottom: 1rem;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: var(--space-xl);
    margin-bottom: var(--space-xl);
    gap: var(--space-xl);
    border: 0.1rem solid var(--color-black);
    background-color: #E0E0E0;
    align-items: start;
}

.cards h2{
    font-family: var(--font-head);
    font-size: 1.rem;
    line-height: 1.6;
}

.cards img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 0.1rem solid var(--color-black);
}

.info h2, .info p{
    grid-column: 1;
}

.info img{
    grid-column: 2;
}



@media (max-width: 768px){


    .cards{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .cards img{
        height: 250px;
        margin-top: var(--space-m);
    }

    .info h2,
    .info p,
    .info img{
        grid-column: 1;
        font-size: 1.rem;
    }
}