@import url(./reset.css);
@import url(./variables.css);

main{
    background-color: FAFAFA;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--space-xl) var(--space-l);
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-black);
    margin-bottom: 1rem;
    font-family: var(--font-head);
}

.section{
    display: grid;
    grid-template-columns: 250px 1fr;
    padding: var(--space-xl);
    margin-bottom: var(--space-xl);
    gap: var(--space-l);
    border: 0.1rem solid var(--color-black);
    border-radius: 20px;
    background-color: #E0E0E0;
}

.section h2{
    font-family: var(--font-head);
    font-size: 2rem;
    margin: 0;
    color: var(--color-purple);
}

.section p{
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--color-black);
}


/* MOBILE VERSION */

@media (max-width: 768px){

    .section{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .section h2{
        margin-bottom: var(--space-m);
    }

}