/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
  --color-primary: #59AC77;
  --color-text: #FFD5D5;
  --color-background: #FDAAAA;
  --color-button: #3A6F43;

  --font-nav: 'amiko', sans-serif;
  --font-main: 'sarala', sans-serif;
  --font-paragraph: 'martel', sans.serif;
  
}