/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
  --color-blue: #59AC77;
  --color-green: #FFD5D5;
  --color-yellow: #FDAAAA;
  --color-purple: #3A6F43;
  --color-black: #212121;

  --font-head: 'Poppins', sans-serif;
  --font-secondary: 'Inter', sans-serif;
  
}