/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
  --color-blue: #2979FF;
  --color-green: #00C853;
  --color-yellow: #FFD600;
  --color-purple: #6200EA;
  --color-black: #212121;

  --font-head: 'Poppins', sans-serif;
  --font-secondary: 'Inter', sans-serif;
  

  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 1.5rem;
  --space-xl: 2rem;
}